# pycharm prj folder
/.idea/

# sam2 folder
/sam2/

#dataset
/dataset/

#segmentation weights
/matteo_convnextsam_exp/weights/
/matteo_convnextsam_exp/ConvNeXtSAM/runs/

# data
/fra_sam_experiments/data/
/fra_sam_experiments/wandb/
/fra_sam_experiments/runs/
